footer {
    background-color: #1f1d20;
    color: white;

    // height: 280px;
    img{
        width: 45px;
        padding-right: 5px;
    }

    .logo{
        padding-top: 50px;
        width: 100px;
    }
    .centered{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    .fixer{
        margin:auto;
    }
}

