section .reset{
    margin-top: 40px;
  .mt{
    margin-top: 25px;
  }
  .centered{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    width: 200px;
    height: 92px;
    text-decoration: none;
    color: inherit;

    p{
      text-align:center;

      &.color1{
        color: rgb(4, 68, 187);
      }
      &.color2{
        color: rgb(1, 2, 80);
      }
  
      &.color3{
        color: rgb(221, 184, 16);
      }
  
  
      &.color4{
        color: rgb(206, 15, 142);
      }
  
      &.color5{
        color: rgb(99, 7, 83);
      }
  
      &.color6{
        color: rgb(31, 143, 3);
      }
  
      &.color7{
        color: rgb(247, 193, 18);
      }

    }
  
  }



  ul{

     @include breakpoint(medium) {
      flex-wrap: wrap !important;
      flex-direction: row !important;
      justify-content: space-between;

      a{
        width: 80px;
        height: 46px;
        color: inherit;
        p{
          font-size: 12px;
          &.color1{
            width: 75px;
          }
        }
      }
    }
}

}