section.startnow{
    margin: 40px 0 80px 0;
    p{
    
        text-align: center;
        margin: 0;

        &.color1{
            color: #eb8900;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2rem;
        }
        &.color2{
            color: #eb8900;
            font-size: 2rem;
        }
        &.color3{
            color: #7a7a7a;
            font-size: 1rem;
        }
    }
    img{
        display: block;
        margin: auto;
        width: 35%;
    }


    background-color: #ffffff;
 

}