section.strongwhy{
  padding: 10px 0 10px;
  margin: 40px 0 40px 0;

  img{
    max-width:50%;
    max-height:50%;
    display: block;
    margin: 0 auto
  }

    background-color: #393939;
    
    .border{
     border-style: solid;
     border-width: 5px;
   }

   .why_p{
    white-space: nowrap;

    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    line-height: 1.5;
    white-space: pre-line;
    position: relative;
      @include breakpoint(large) {
          font-size: 2.5rem;
          padding-top: 20px;
    }

   }


  .aligner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .aligner-item {
      max-width: 50%;
    }


  .boxpadding{
    padding-bottom: 15px;

  }
      .boxwrapper{
        
        background-color: #fff;
        color: #f68503;
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 0px;
        font-weight: bold;

        &.pb1{
          padding-bottom: 1px;
        }
          @include breakpoint(medium) {
            &.pb2{
            padding-bottom: 1px;
            }          
          }
        p{
          font-size: 10px;
          text-align: center;
          overflow: hidden;
        }
      }
}