section.videobg{
.contain{
    position: relative;
}


#bg{
    width: 100%;
}

#content {
    position: absolute;
    top: 0px;
    left: 0px;
    
    padding: 30px;
    color: #fff;
    
    text-align: center;
    width: 100%;
    // background-color: rgba(0,0,0, 0.4);
    
    & h1{
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
        margin-top: 10%;
        // padding-top: 15%;
        // margin-bottom: 60px;
        @include breakpoint(medium) {
            font-size: 1.8rem;
            // padding: 15px;
            margin-top: 19%;
          }
    }

    & h2{
        padding-top: 2px;
        @include breakpoint(medium) {
            padding-top: -2px;
        
          }
    }

    & a{
    background: #eb8900;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 33px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    }
}



}
